<style>
p { width: max-content; text-align: center; margin: 0; }
code { width: 100%; font-family: monospace; }
div { width: 100%; text-align: center; overflow: scroll; }
</style>
<div>
<% @db[:user].cal.calendar.each do |e| %>
<p><code><%= e.gsub(" ","&nbsp;") %></code></p>
<% end %>
</div>