<details class='gps' style='width: 100%; text-align: center; border: thin solid white; display: none;'>
<summary style='font-size: xx-large;'>Drop item...</summary>
<h1 style='width: 100%; text-align: center;'>
<input placeholder='drop' style='font-size: x-large; width: 100%; vertical-align: middle;'>
</h1>
<textarea placeholder='for...' style='width: 100%;'></textarea>
<%= erb :pins %>
</details>