<div class='gps' style='width: 100%; text-align: center; position: fixed; bottom: 0;'>
<div id='items' style='width: 100%; text-align: center;'>
</div>
<p style='width: 100%; text-align: center; border: thin inset grey; margin: 0;'>
<span id='grid' style='width: 70%;'></span>
</p>
</div>
