<h1 id='heading' style='width: 100%; text-align: center;'>
<% if Z4[:host, HOST.index, :menu].to_h.keys.length > 0 %>
<a class='material-icons' href='/menu'>menu</a>
<% end %>
<span style='width: 70%; display: inline-block;'>
<% if HOST[:heading] %>
<%= HOST[:heading] %>
<% end %>
</span>
<% if HOST[:discord] %>
<a class='material-icons' href='<%= HOST[:discord]  %>'>support_agent</a>
<% end %>
</h1>
