<style>
a { text-decoration: none; color: white; border: thin outset grey; padding: 1%; }
</style>

<%= erb :img %>

<%= erb :heading %>

<% if HOST[:embed] %>
<div id='body' style='width: 100%; text-align: center;'>
<%= Embed.new(HOST[:embed]).result(params) %>
</div>
<% end %>

<%= erb :gps %>