<style>
a { text-decoration: none; color: white; padding: 0 2% 0 2%; margin: 1% 2% 1% 2%; border: thin solid white; border-radius: 10px; }
h1 { width: 100%; }
</style>
<h1 style='width: 100%; text-align: center; background-color: white; color: black;'>MENU</h1>

<% Z4[:host, request.host, :menu].to_h.each_pair do |k,v| %>
<h3 style='width: 100%; text-align: center;'>
<a href='<%= v %>'><%= k %></a>
</h3>
<% end %>

<%= erb :gps %>