
<div style='width: 100%; text-align: center; margin: 0; padding: 0;'>
<h2 style='width: 100%; text-align: center;'>SCHOOL</h2>

<p style='width: 100%; text-align: center;'>Complete the reading and viewing for each section, then pass the test at the end to gain skills and certifications.</p>
</div>


<h3 style='color: gold;'>1: Web UI Basics</h3>
<p>1.a. <a href='/school_html'>html</a></p>
<p>1.b. <a href='/school_css'>css</a></p>
<p>1.c. <a href='/school_js'>javascript</a></p>

<h3 style='color: gold;'>2: Templating</h3>
<p>2.a. <a href='/school_ruby'>ruby</a></p>
<p>2.b. <a href='/school_erb'>erb</a></p>
<p>2.c. <a href='/school_z4_templates'>z4 templates</a></p>

<h3 style='color: gold;'>3: Z4</h3>
<p>3.a. <a href='/school_z4_tables'>tables</a></p>
<p>3.b. <a href='/school_z4_services'>services</a></p>
<p>3.c. <a href='/school_z4_handlers'>handlers</a></p>
<p>3.d. <a href='/school_z4_setup'>setup</a></p>

<h3 style='color: gold;'>4: nomad</h3>
<p>4.a. <a href='/school_nomad_install'>installation</a></p>
<p>4.b. <a href='/school_configuration'>configuration</a></p>
<p>4.c. <a href='/school_usage'>usage</a></p>
