
<h3 style='color: gold;'>1: Settings</h3>
<p>These settings effect items in your referral card.  They may or may not be displayed.</p>
<ul>
<li>name: Your name.</li>
<li>dob: Your date of birth.</li>
<li>age: Your age.</li>
<li>city: Your city.</li>
<li>since: Your start year.</li>
<li>job: Your job.</li>
<li>team: Your job team.</li>
<li>union: Your local union.</li>
</ul>
<p>These settings effect clickable links within the referral card.</p>
<ul>
<li>discord: Your discord server invite link.</li>
<li>phone: Your formatted call or sms link.</li>
<li>social: Your social media profile.</li>
<li>store: Your webstore.</li>
<li>tips: Your social tipping link.</li>
</ul>
<p>These settings are special.</p>
<ul>
<li>img: Sets the backround image of the referral card.  May be animated.</li>
<li>embed: An embed script to render content within the referral card.</li>
<li>thanks: An embed script to render content within the thanks card.</li>
</ul>

<h3 style='color: gold;'>2: Embeds</h3>
<p>Embeds are used to generate content within a route.</p>
<ul>
<li>runtime(object): Access an object which will be available at runtime.</li>
<li>input(name): Add a text input.</li>
<li>email(name): Add an email input.</li>
<li>url(name): Add a url input.</li>
<li>tel(name): Add a telephone number input.</li>
<li>textarea(name, placeholder: placeholder text, value: default vaule text): Add a textarea.</li>
<li>color(name): Add a color selector.</li>
<li>date(name): Add a date selector.</li>
<li>time(name): Add a time selector.</li>
<li>radio(name): Add a radio button.</li>
<li>check(name): Add a checkbox.</li>
<li>select(name, *values): Add a select input.</li>
<li>number(name, min: min value, max: max value, value: default value): Add a number input.</li>
<li>text(text): Add the given text to the form.</li>
<li>goto(route, params={}): Set the route to redirect to after the form is posted.</li>
<li>submit(text): Add a form submit button with the given text.</li>
<li>stack(target, category): Set the category within the target for the record to be stored.</li>
</ul>

